<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}


<div class="d-flex vh-100">
  <div class="d-flex w-100 justify-content-center align-self-center">

      <div class="card" style="width: 40rem;">
        <h5 class="card-header text-white text-center pt-4" style="background-color: #272727;">
          <div class="jumbotron jumbotron-fluid", style="background-color:#272727;">
              <h1 class="display-4">AnalyserX</h1>
            </div>
        </h5>
        <div class="card-body px-lg-5 pt-0">
          <p class="lead mt-3 text-white">Select your Project:</p>
            <form action="" method="post">
              {{ form.hidden_tag() }}
              {{ form.project_name(class="custom-select text-white") }}

              <div class="mt-3">
                <div class="row">
                  <div class="col-6">
                    <a class="btn btn-outline-secondary btn-block" href="{{ url_for('new_project') }}" style="border-color: grey; color: grey;">Create New Project</a>
                  </div>
                  <div class="col-6">
                    {{ form.submit(class="btn btn-outline-success btn-block", style="color:white; border-color: #5cb85c;" ) }}
                  </div>
                </div>
              </div>
            </form>
</div>
</div>
</div>
</div>


{% endblock %}
