<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}

<nav class="navbar navbar-dark" id="navBarLogNr" data-type="{{ type }}" data-id="{{ id }}" style="background-color: #272727;">
  <a href="{{ url_for('logout') }}"><span class="navbar-brand mb-0 h1"style="color: #FFFFFF">ANALYSER X</span></a>

  <div class="btn-group">
    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" id="navProjButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ current_user.title }}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" type="button" href="{{ url_for('project') }}">Current Project</a>
      <a class="dropdown-item" type="button" href="{{ url_for('session', session_id=session) }}">Current Session</a>
      <a class="dropdown-item" type="button" href="{{ url_for('settings') }}">Settings</a>
      <a class="dropdown-item" type="button" href="{{ url_for('logout') }}">Switch Project</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-8" style="padding-right:0;">

    {% block log_analyser %}

    {% endblock %}

  </div>



  <div class="col-4" style="padding-left:0;">
    <div class="container">
      <div class="card mt-3">
        <div class="card-header text-primary" style="background-color: #272727;">Filters
        </div>
        <div class="card-body text-white" style="background-color: #363636;">

            <form action="" method="post">
              <div class="input-group">
                <div class="input-group-prepend">
                  <select class="custom-select " id="inputParameterSetfil5" data-topics="{{ topics }}" name="inputParameterSet" style="background-color: #272727;">
                    {% for s in set %}
                      <option >{{s}}</option>
                    {% endfor %}
                  </select>

                    <button class="btn btn-outline-primary dropdown-toggle topics" for="inputGroupSelect01" type="button" id="dropdownMenuButtonfil5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topics</button>
                    <div class="dropdown-menu pre-scrollable" id="inputTopicfil5" data-params="{{ topics }}" aria-labelledby="dropdownMenuButton">
                      {% for key in topics[set[0]].keys() %}
                      <a type="button" class="dropdown-item topicSelectedfil5" data-name="{{ key }}" data-set="{{ set[0] }}" >{{ key }}</a>
                      {% endfor %}
                    </div>
                </div>
                <select class="custom-select " id="inputParameterSelectfil5" name="inputParameterSelect" style="background-color: #272727;">
                  <option selected></option>
                </select>
              </div>

              <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="Min" id="min5">
                  <input type="text" class="form-control" placeholder="Max" id="max5">
              </div>
            </form>

            <form action="" method="post">
              <div class="input-group">
                <div class="input-group-prepend">
                  <select class="custom-select " id="inputParameterSetfil6" data-topics="{{ topics }}" name="inputParameterSet" style="background-color: #272727;">
                    {% for s in set %}
                      <option >{{s}}</option>
                    {% endfor %}
                  </select>

                    <button class="btn btn-outline-primary dropdown-toggle topics" for="inputGroupSelect01" type="button" id="dropdownMenuButtonfil6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topics</button>
                    <div class="dropdown-menu pre-scrollable" id="inputTopicfil6" data-params="{{ topics }}" aria-labelledby="dropdownMenuButton">
                      {% for key in topics[set[0]].keys() %}
                      <a type="button" class="dropdown-item topicSelectedfil6" data-name="{{ key }}" data-set="{{ set[0] }}" >{{ key }}</a>
                      {% endfor %}
                    </div>
                </div>
                <select class="custom-select " id="inputParameterSelectfil6" name="inputParameterSelect" style="background-color: #272727;">
                  <option selected></option>
                </select>
              </div>

              <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="Min" id="min6">
                  <input type="text" class="form-control" placeholder="Max" id="max6">
              </div>
            </form>

            <form action="" method="post">
              <div class="input-group">
                <div class="input-group-prepend">
                  <select class="custom-select " id="inputParameterSetfil1" data-topics="{{ topics }}" name="inputParameterSet" style="background-color: #272727;">
                    {% for s in set %}
                      <option >{{s}}</option>
                    {% endfor %}
                  </select>

                    <button class="btn btn-outline-primary dropdown-toggle topics" for="inputGroupSelect01" type="button" id="dropdownMenuButtonfil1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topics</button>
                    <div class="dropdown-menu pre-scrollable" id="inputTopicfil1" data-params="{{ topics }}" aria-labelledby="dropdownMenuButton">
                      {% for key in topics[set[0]].keys() %}
                      <a type="button" class="dropdown-item topicSelectedfil1" data-name="{{ key }}" data-set="{{ set[0] }}" >{{ key }}</a>
                      {% endfor %}
                    </div>
                </div>
                <select class="custom-select " id="inputParameterSelectfil1" name="inputParameterSelect" style="background-color: #272727;">
                  <option selected></option>
                </select>
              </div>
            </form>

            <div class="btn-group btn-group-sm special" data-toggle="buttons">
              <label class="btn btn-outline-primary toggle">
                <input type="radio" name="ch6" id="fil1_1" > 1
              </label>
              <label class="btn btn-outline-primary  toggle">
                <input type="radio" name="ch6" id="fil1_0" disabled>
              </label>
              <label class="btn btn-outline-primary toggle">
                <input type="radio" name="ch6" id="fil1_-1"> -1
              </label>
              <label class="btn btn-outline-primary toggle">
                <input type="radio" name="ch6" id="fil1_off" checked> off
              </label>
            </div>


            <form action="" method="post">
              <div class="input-group">
                <div class="input-group-prepend">
                  <select class="custom-select " id="inputParameterSetfil2" data-topics="{{ topics }}" name="inputParameterSet" style="background-color: #272727;">
                    {% for s in set %}
                      <option >{{s}}</option>
                    {% endfor %}
                  </select>

                    <button class="btn btn-outline-primary dropdown-toggle topics" for="inputGroupSelect01" type="button" id="dropdownMenuButtonfil2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topics</button>
                    <div class="dropdown-menu pre-scrollable" id="inputTopicfil2" data-params="{{ topics }}" aria-labelledby="dropdownMenuButton">
                      {% for key in topics[set[0]].keys() %}
                      <a type="button" class="dropdown-item topicSelectedfil2" data-name="{{ key }}" data-set="{{ set[0] }}" >{{ key }}</a>
                      {% endfor %}
                    </div>
                </div>
                <select class="custom-select " id="inputParameterSelectfil2" name="inputParameterSelect" style="background-color: #272727;">
                  <option selected></option>
                </select>
              </div>
            </form>

        <div class="btn-group btn-group-sm special" data-toggle="buttons">
          <label class="btn btn-outline-primary toggle">
            <input type="radio" name="ch7" id="fil2_1"> 1
          </label>
          <label class="btn btn-outline-primary toggle">
            <input type="radio" name="ch7" id="fil2_0" disabled>
          </label>
          <label class="btn btn-outline-primary toggle">
            <input type="radio" name="ch7" id="fil2_-1"> -1
          </label>
          <label class="btn btn-outline-primary toggle">
            <input type="radio" name="ch7" id="fil2_off" checked> off
          </label>
        </div>

          <form action="" method="post">
            <div class="input-group">
              <div class="input-group-prepend">
                <select class="custom-select " id="inputParameterSetfil3" data-topics="{{ topics }}" name="inputParameterSet" style="background-color: #272727;">
                  {% for s in set %}
                    <option >{{s}}</option>
                  {% endfor %}
                </select>

                  <button class="btn btn-outline-primary dropdown-toggle topics" for="inputGroupSelect01" type="button" id="dropdownMenuButtonfil3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topics</button>
                  <div class="dropdown-menu pre-scrollable" id="inputTopicfil3" data-params="{{ topics }}" aria-labelledby="dropdownMenuButton">
                    {% for key in topics[set[0]].keys() %}
                    <a type="button" class="dropdown-item topicSelectedfil3" data-name="{{ key }}" data-set="{{ set[0] }}" >{{ key }}</a>
                    {% endfor %}
                  </div>
              </div>
              <select class="custom-select " id="inputParameterSelectfil3" name="inputParameterSelect" style="background-color: #272727;">
                <option selected></option>
              </select>
            </div>
          </form>

        <div class="btn-group btn-group-sm special" data-toggle="buttons">
          <label class="btn btn-outline-primary toggle">
            <input type="radio" name="ch8" id="fil3_1"> 1
          </label>
          <label class="btn btn-outline-primary toggle">
            <input type="radio" name="ch8" id="fil3_0"> 0
          </label>
          <label class="btn btn-outline-primary toggle">
            <input type="radio" name="ch8" id="fil3_-1"> -1
          </label>
          <label class="btn btn-outline-primary toggle">
            <input type="radio" name="ch8" id="fil3_off" checked> off
          </label>
        </div>

          <form action="" method="post">
            <div class="input-group">
              <div class="input-group-prepend">
                <select class="custom-select " id="inputParameterSetfil4" data-topics="{{ topics }}" name="inputParameterSet" style="background-color: #272727;">
                  {% for s in set %}
                    <option >{{s}}</option>
                  {% endfor %}
                </select>

                  <button class="btn btn-outline-primary dropdown-toggle topics" for="inputGroupSelect01" type="button" id="dropdownMenuButtonfil4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topics</button>
                  <div class="dropdown-menu pre-scrollable" id="inputTopicfil4" data-params="{{ topics }}" aria-labelledby="dropdownMenuButton">
                    {% for key in topics[set[0]].keys() %}
                    <a type="button" class="dropdown-item topicSelectedfil4" data-name="{{ key }}" data-set="{{ set[0] }}" >{{ key }}</a>
                    {% endfor %}
                  </div>
              </div>
              <select class="custom-select " id="inputParameterSelectfil4" name="inputParameterSelect" style="background-color: #272727;">
                <option selected></option>
              </select>
            </div>
          </form>

        <div class="btn-group btn-group-sm special" data-toggle="buttons">
          <label class="btn btn-outline-primary toggle">
            <input type="radio" name="ch9" id="fil4_1"> 1
          </label>
          <label class="btn btn-outline-primary toggle">
            <input type="radio" name="ch9" id="fil4_0"> 0
          </label>
          <label class="btn btn-outline-primary toggle">
            <input type="radio" name="ch9" id="fil4_-1"> -1
          </label>
          <label class="btn btn-outline-primary toggle">
            <input type="radio" name="ch9" id="fil4_off" checked> off
          </label>
        </div>






      </div>
      </div>
    </div>


  </div>
</div>



<div class="modal" id="loadingChartModal" tabindex="-1" role="dialog" aria-labelledby="addSessionModal" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content border-0">
    <div class="modal-header">
      <h4 class="modal-title" id="loadingLabel">
        Please wait...
      </h4>
    </div>
    <div class="modal-body">
      <div class="d-flex justify-content-center align-items-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



{% endblock %}
